#!/bin/bash

export SERVER_HOST="lattice-150"
export SERVER_PORT=50051
export DB_NAME="sustaindb"
export DB_HOST="lattice-101"
export DB_PORT=27018
export SPARK_MASTER="spark://lattice-150:8079"
export KUBERNETES_SPARK_MASTER="k8s://$K8S_SERVER"
export SPARK_DOCKER_IMAGE="sustain/spark-py:v3.0.1-j11"
#export SPARK_DOCKER_IMAGE="sustain/spark:v3.0.1"
export USE_KUBERNETES="true"
export SPARK_EXECUTOR_CORES=5
export SPARK_EXECUTOR_MEMORY="16G"
export SPARK_INITIAL_EXECUTORS=10
export SPARK_MIN_EXECUTORS=1
export SPARK_MAX_EXECUTORS=200
export SPARK_BACKLOG_TIMEOUT="10s"
export SPARK_IDLE_TIMEOUT="10s"